              {% if form.errors %}
                data-error="password"
                aria-invalid="true"
              {%- endif -%}
            >
            <span class="input-group__btn">
              <button type="submit" name="commit" class="btn btn--narrow">
                {{ 'general.password_page.login_form_submit' | t }}
              </button>
            </span>
          </div>
          {%- if form.errors -%}
            <span id="{{ formId }}-password-error" class="input-error-message">
              <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
              {% include 'icon-error' %}
              <span>{{ form.errors.messages['form'] }}</span>
            </span>
          {%- endif -%}
        {% endform %}
        <p class="password-content">{{ 'general.password_page.admin_link_html' | t }}</p>
      </div>
    </div>
  </div>

  <script>
    var theme = {
      strings: {
        addressError: {{ 'sections.map.address_error' | t | json }},
        addressNoResults: {{ 'sections.map.address_no_results' | t | json }},
        addressQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
        authError: {{ 'sections.map.auth_error_html' | t | json }}
      }
    }
  </script>

</body>
</html>